<div class="form-container">
  <form id="new-message-form">
    <mat-form-field>
      <input matInput placeholder="Nome">
      <mat-error>Erro</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Email">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Telefone">
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Assunto">
        <mat-option>Op1</mat-option>
        <mat-option>Op2</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Mensagem"></textarea>
      <mat-hint align="end">0/500</mat-hint>
    </mat-form-field>
    <div class="form-actions">
      <button mat-raised-button color="primary">Enviar</button>
    </div>
  </form>
</div>
