<mat-drawer-container class="dashboard-container">

  <mat-drawer #drawer mode="side" opened [class.mobile]="(isHandset$ | async)">
    <mat-nav-list>
      <mat-list-item *ngFor="let message of messages">
        <a matLine (click)="showMessage(message.id, drawer)">
          <span class="title">{{message.title}}</span>
          <small>{{ message.createdAt | date: format }}</small>
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content [class.mobile]="(isHandset$ | async)">
    <button *ngIf="(isHandset$ | async)" mat-raised-button color="primary" aria-label="Voltar" (click)="drawer.open()" class="close">
      <mat-icon >arrow_left</mat-icon> Voltar
    </button>
    <app-message [currentMessage]="currentMessage" (currentMessageChange)="ngOnInit()"></app-message>
  </mat-drawer-content>

</mat-drawer-container>
